div.menucontainer
{
    padding-left: 20px;
    padding-right: 20px;
}

div.menuitem
{
    width:200;
    min-height: 200;

    float: left;

    background: #afcbff;

    margin-right: 15px;

    border-radius: 3px;
}

div.menuitem .title
{
    font-weight: bold;
    font-size: 25px;
    text-align: center;

    width: 100%;
}

div.menuitem .btn
{
    width: 100%;

    position: relative;
    top:3px;

    -webkit-box-shadow: none;
    box-shadow: none;

    border-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

div.info
{
    margin-top: 30px;
    margin-bottom: 30px;

    padding-left: 10px;
    padding-right: 10px;
}