div.header
{
    height: 75px;
    
    background: tomato;
    color:white;

    font-size: 50px;
}

div.header div.title
{
    margin-left: 25px;
}

div.playscreen, div.startscreen
{
    position: absolute;
    top: 75px;
    bottom: 250px;
    left:0;
    right: 0;

    overflow-y: auto;
}

div.footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 250px;
    background: tomato;

    margin-bottom: 0px;
}

div.adddecks i.button
{
    position: relative;
    top: 25px;

    font-size: 40px;
}

div.adddecks i.button:hover
{
    color: rgb(0, 140, 255);
}

div.box
{
    border: 1px solid #e0e0e0;
    position: relative;
    top: 8px;

    border-radius: 2px;
}

div.points
{
    margin-top: 2px;
    overflow-y: auto;
    height: 248px;
}

div.chat div.chatcontainer
{
    background: white;
    width: 100%;
    height: 150px;
}

div.chat div.input-field.liftup
{
    margin: 0 0 0 0;
    position: relative;
    top:-5px;
}

div.chat div.chatinput
{
    margin-bottom: 0px;
}

.bold
{
    font-weight: bold;
}

div.spacing
{
    margin-top: 15%;
}